.navbar {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
}

.nav-link:hover {
  color: blue;
}

.nav-menu li + li::before {
  content: " | ";
  padding: 0 0.8rem;
}

.logo {
  font-size: 2rem;
}
